<form [formGroup]="characterForm" (submit)="performSearch()">
    <label for="search">Search</label>
    <input id="search" name="search" formControlName="search">
    <button type="submit">Go</button>
</form>

<div class="characters">
    <ul class="characters__entry" *ngFor="let character of characterData.results">
        <li>
            <a [routerLink]="['/', 'character', character.id]">{{ character.name }}</a>
        </li>
    </ul>
</div>

<app-pagination [records]="characterData.total" [skip]="characterData.offset" [limit]="characterData.limit" (pageChange)="changePage($event)"></app-pagination>

<pre>
    {{ characterData | json }}
</pre>
