$input-border-color: #FAE4A3;
$input-border-focus: #997B4E;
$input-background-color: #F8F0EE;
$border-radius: 8px;

.app-input {
    position: relative;
    margin-bottom: 1em;

    &__container {
        display: flex;
        border: 4px solid $input-border-color;
        border-radius: $border-radius;

        &:last-child {
            flex: 1;
        }

        &.focus {
            border-color: $input-border-focus;
        }
    }

    input {
        display: inline-block;
        margin: 0;
        width: 100%;
        font-size: 1em;
        appearance: none;
        box-sizing: border-box;
        color: #322E2D;
        padding: 1em 1.5em;
        border: none;
        border-radius: $border-radius / 2;
        background-color: $input-background-color;

        &[disabled]:hover {
            cursor: default;
        }

        &:focus, &:active {
            outline: none;
        }
    }
}
