@import '../../variables';

.character {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    &__image {
        width: 100%;
        max-width: 100%;

        @media all and (min-width: $desktop-viewport) {
            max-width: 800px;
            margin-right: 1em;
        }
    }

    &__highlights {
        flex: 1 0 60%;
    }

    @media all and (min-width: $desktop-viewport) {
        flex-direction: row;
    }
}
