button {
    box-sizing: border-box;
    padding: 0.5em 1em;
    color: #322E2D;
    background-color: #FFF3CF;

    &:hover, &:active {
        color: #FFF3CF;
        background-color: #997B4E;
    }

    &:last-of-type {
        border-right: 0;
    }

    &.selected {
        pointer-events: none;
        color: #FFF3CF;
        background-color: #997B4E;
    }

}
